* {
  margin: 0;
  padding: 0;
}
.course {
  background-color: white;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: inherit;
  margin-top: 60px;
  margin-left: 9%;
  margin-right: 9%;
  margin-bottom: 15px;
  width: 80%;
  border: 3px solid rgb(156, 205, 224);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sub {
  color: black;
  width: 20%;
  padding: 10px;
  margin-top: 5%;
  margin-right: 10px;
  height: 250px;
  border: 3px solid rgb(156, 205, 224);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto;
}

.sub a {
  text-decoration: none;
  color: black;
}
