.header {
  display: flex;
  background-color: rgb(122, 192, 224);
  height: 80px;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  padding-top: 0.25rem;
  justify-content: space-between;
  font-size: larger;
}

.nav li {
  list-style: none;
  margin-right: 1rem;
}

.text-white {
  color: white;
}

.nav ul {
  display: flex;
  text-decoration: none;
  color: black;
}
